.DS_Store
Thumbs.db
.idea
*.sublime-project
*.sublime-workspace
node_modules/
npm-debug.log
yarn-error.log
.vscode
/build
/docs
.env
gds.config.json
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
coverage/
