.type-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 170px;
}

.type-card:hover {
    cursor: pointer;
}

.type-card__content {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.type-card__content-img {
  margin: auto;
  height: 70px;
  margin-bottom: 8px;
}
